
body{
    font-family: 'Prompt', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1629382900018-a3c7c3974f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80');
    color: #ffc8dd;
    align-items: center;
    text-align: center;
    font-size: 150%;
    display: flex;
    justify-content: center;
    padding: 2rem;

}

.container{
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 400px;
    border-radius: 20px;
    background-color: #ffc8dd;
    background-size: 25px 25px;
    background-image: radial-gradient(#000 5.6%, transparent 0);
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px 3px #000;
    display: inline-block;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    background-color: #7F515B;
    transform: rotate(2.5deg);
    border-radius:  20% 5% 20% 5%/5% 20% 25% 20%;
    font-size: 2.5rem;
    padding: 0rem 0.5rem;
}

.form input{
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    font-size: 1.3rem;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: dashed 2px #b5838d;
    color: #7F515B;
    width: 50%;
    margin: 2px;
}

button{
    margin: 2rem;
    border: none;
    font-family: 'Prompt', sans-serif;
    background-color: transparent;
    text-decoration: none;
}

button span{
    display: block;
    border: 2px solid #7F515B;
    background: #7F515B;
    color: #ffc8dd;
    padding: 0.2rem 1.2rem;
    border-radius: 10px;
    font-size: 1.2rem;
}

ul li{
    text-decoration: none;
    text-align: left;
    position: relative;
    padding: 0.2rem;
    color: #7F515B;
    list-style: circle;
}

.footer{
    color: #7F515B;
    padding: 2rem;
    display: grid;
}

.foot{
    font-size: 12px;
    margin-top: 25rem;
    margin-left: 6rem;
    position: absolute;
}

.instructions{
    width: fit-content;
    max-width: 500px;
    text-align: justify;
    margin-top: 2rem;
    font-size: 18px;
}
